/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-color: #82404f;
  padding: 20px 0;
  color: #fff;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f98f6f;
}

main {
  flex: 1;
}

footer {
  background-color: #612f44;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  margin-top: auto;
}

/* Hacer que las imágenes sean responsivas */
.property img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilos específicos para propiedades.html */
#propiedades {
  padding: 50px 0;
  text-align: center;
}

#propiedades h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -20px;
}

.property {
  width: calc(50% - 20px);
  margin-bottom: 40px;
  position: relative;
}

.property-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.property-overlay p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.property-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

.property-description p {
  margin: 5px 0;
}

.property-price {
  font-weight: bold;
  color: #f38d81;
}

/* Estilos específicos para index.html */
#inicio {
  padding: 50px 0;
  text-align: center;
}

#inicio h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #f4c092;
}

#inicio p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #f38d81;
}

#inicio .btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #f38d81;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

#inicio .btn:hover {
  background-color: #b75d69;
}

/* Estilos específicos para nosotros.html */
#nosotros {
  padding: 50px 0;
  text-align: center;
}

#nosotros h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

#nosotros p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #666;
}

/* Estilos específicos para servicios.html */
#servicios {
  padding: 50px 0;
  text-align: center;
}

#servicios h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

#servicios ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos específicos para propiedades.html */
.property img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 4px solid #82404f; /* Grosor del borde aumentado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra */
}


#servicios ul li {
  font-size: 18px;
  margin-bottom: 10px;
  color: #666;
}

/* Estilos específicos para contacto.html */
#contacto {
  padding: 50px 0;
  text-align: center;
}

#contacto h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

#contacto p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #666;
}

#contacto form input,
#contacto form textarea,
#contacto form button {
  width: calc(100% - 30px); /* Ajuste para evitar que los elementos se desborden */
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #c1d9cd;
  border-radius: 5px;
}

#contacto form button {
  background-color: #eb613b;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contacto form button:hover {
  background-color: #f98f6f;
}



