/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% de la altura de la ventana visible */
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-color: #82404f; /* Cambiado el color del encabezado */
  padding: 20px 0;
  color: #fff;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f98f6f;
}

main {
  flex: 1; /* El contenido principal se expandirá para ocupar el espacio restante */
}

footer {
  background-color: #612f44; /* Cambiado el color del pie de página */
  padding: 20px 0;
  color: #fff;
  text-align: center;
  margin-top: auto; /* Coloca el footer al final de la página */
}

/* Hacer que las imágenes sean responsivas */
.property img {
  max-width: 100%; /* Hace que la imagen se ajuste automáticamente al ancho de su contenedor */
  height: auto; /* Permite que la altura de la imagen se ajuste automáticamente para mantener la proporción */
}

/* Estilos específicos para index.html */
#inicio {
  padding: 50px 0;
  text-align: center;
}

#inicio h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #f4c092; /* Cambiado el color del título */
}

#inicio p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #f38d81; /* Cambiado el color del texto */
}

#inicio .btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #f38d81; /* Cambiado el color del botón */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

#inicio .btn:hover {
  background-color: #b75d69; /* Cambiado el color del botón al pasar el ratón */
}

/* Estilos específicos para nosotros.html */
#nosotros {
  padding: 50px 0;
  text-align: center;
}

#nosotros h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

#nosotros p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #666;
}

/* Estilos específicos para servicios.html */
#servicios {
  padding: 50px 0;
  text-align: center;
}

#servicios h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

#servicios ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#servicios ul li {
  font-size: 18px;
  margin-bottom: 10px;
  color: #666;
}

/* Estilos específicos para contacto.html */
#contacto {
  padding: 50px 0;
  text-align: center;
}

#contacto h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

#contacto p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #666;
}

#contacto form input,
#contacto form textarea,
#contacto form button {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #c1d9cd;
  border-radius: 5px;
}

#contacto form button {
  background-color: #eb613b;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contacto form button:hover {
  background-color: #f98f6f;
}

